@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

.wrapper {
    min-height: 100vh;
    overflow: hidden;
}

.btn {
    color: #fff;
    background-color: #2AABE4;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;
    transition: 0.75s ease;
}

.btn:hover {
    color: #2AABE4;
    background-color: #fff;
    border-radius: 20px;
}

.header__block {
    display: flex;
    color: #fff;
    background-color: #2AABE4;
    height: 10vh;
    font-size: 30px;
    align-items: center;
    justify-content: space-around;
}

.header__logo {
    max-width: 80px;
}

.header__logo img {
    width: 100%;
    max-height: 50px;
}

.header__menu {}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin: 0px 20px 0px 0px;
}

.header__link {
    position: relative;
    color: #fff;
    transition: 0.65s ease;
}

.header__link::first-letter {
    text-transform: uppercase;
}

.header__link.active {
    background: linear-gradient(45deg, #FFCD24, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .header__link:hover {
    background: linear-gradient(45deg, #FFCD24, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.header__link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 10%;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: 0.35s ease;
}

.header__link:hover::before {
    width: 80%;
}

.header__link.active::before {
    width: 80%;
}

.main__container {
    display: flex;
    min-height: 90vh;
}

.sidebar__block {
    flex: 1 1 30%;
    height: auto;
    color: #fff;
    background-color: #9DC8E4;
    font-size: 25px;
}

.content__block {
    flex: 1 1 70%;
    color: #ffffff;
    background-color: #FFCD24;
    max-height: 90vh;
    padding: 20px;
    font-size: 25px;
    overflow: auto;
}

.content__item {
    margin: 0px 0px 40px 0px;
}

.content__title {
    margin: 0px 0px 20px 0px;
    font-size: 25px;
    font-weight: 500;
}

.content__text {
    font-size: 20px;
    line-height: 125%;
}

.chats__block {}

.chats__list {}

.chats__item {
    margin: 0px 0px 20px 0px;
}

.chats__title {
    cursor: pointer;
}

.social__block {
    display: flex;
}

.chats__block {
    flex: 1 1 30%;
}

.chats__item {}

.chats__link {
    position: relative;
    color: #fff;
}

.chats__link.active::before {
    left: 0;
    width: 100%;
}

.chats__link.active:hover::before {
    width: 100%;
}

.chats__link::before {
    content: '';
    position: absolute;
    background-color: #fff;
    bottom: -5px;
    left: 5%;
    width: 0%;
    height: 2px;
    transition: 0.35s ease;
}

.chats__link:hover::before {
    width: 90%;
}

.meassages__block {
    flex: 1 1 70%;
    display: flex;
    flex-direction: column;
}

.meassages__content {}

.meassages__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px 0px 20px 0px;
}

.meassages__message {
    grid-column: 1 / 3;
    padding: 10px;
    border: solid 1px #fff;
    border-radius: 20px;
}

.meassages__message_you {
    grid-column: 2 / 4;
}

.message__title {
    font-weight: 600;
    margin: 0px 0px 10px 0px;
}

.message__content {
    font-weight: 300;
    line-height: 125%;
}

.message__back {
    flex-grow: 0;
}

.back__link {
    color: #fff;
}

.users__block {}

.users__body {}

.users__list {}

.users__item {
    display: flex;
    margin: 0px 0px 20px 0px;
    padding: 10px 40px 10px 10px;
    border: 1px solid;
    border-radius: 10px;
    align-items: center;
    transition: 0.5s ease;
}

.users__item:hover {
    transform: scale(1.01);
}

.users__item-profile {
    flex: 1 1 15%;
    margin: 0px 20px 0px 0px;
}

.users__item-avatar {
    margin: 0px 0px 15px 0px;
}

.users__item-avatar img {
    max-width: 100%;
}

.users__item-subscribe {}

.users__item-btn {
    position: relative;
    color: #fff;
    background-color: #2AABE4;
    padding: 9px 16px;
    transition: 0.5s ease;

    font-weight: 500;
}

.users__item-btn:hover {
    color: #2AABE4;
    background-color: #fff;
}

.users__item-description {
    flex: 1 1 80%;
    display: flex;
    justify-content: space-between;
}

.users__item-left {}

.users__item-name {
    margin: 0px 0px 20px 0px;
}

.users__item-status {
    font-size: 18px;
}

.users__item-right {}

.users__item-country {
    margin: 0px 0px 10px 0px;
    font-size: 22px;
    text-align: left;
}

.users__item-city {
    font-size: 20px;
    text-align: left;
}

.users__btn {
    margin: 0px 0px 10px 0px;
}

.pagination__block {
    margin: 0px 0px 25px 0px;
}

.pagination__body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__item {
    margin: 0px 10px 0px 0px;
    cursor: pointer;
}

.pagination__item_active {
    font-weight: 500;
    font-size: 30px;
}

.preloader__block {
    position: relative;
    height: 100%;
}

/* .preloader__block::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: #FFCD24;
} */

.preloader {
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 6;
    transform: translate(-50%, -50%);
}

.profile__block {}

.profile__body {
    display: flex;
}

.profile__left {
    flex: 1 1 30%
}

.profile__img img {
    max-width: 100%;
    padding: 0px 20px 0px 0px;
}

.profile__right {
    flex: 1 1 70%
}

.profile__name {
    position: relative;
    margin: 0px 0px 20px 0px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.profile__name::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
}

.profile__about {
    margin: 0px 0px 10px 0px;
}

.profile__about::first-letter {
    text-transform: uppercase;
}

.profile__lookingjob {
    margin: 0px 0px 10px 0px;
    font-size: 20px;
}

.profile__lookingjob-description {
    margin: 0px 0px 10px 0px;
    font-size: 20px;
}

.profile__lookingjob-description::first-letter {
    text-transform: uppercase;
}

.profile__link-back {
    color: #fff;
    position: relative;
}

.profile__link-back:hover span {
    transform: translate(10px, 0px);
}

.profile__link-back span {
    position: absolute;
    top: 50%;
    left: 110%;
    background-color: #fff;
    width: 60%;
    height: 2px;
    transition: 0.5s ease;
}

.profile__link-back span::before,
.profile__link-back span::after {
    content: '';
    position: absolute;
    right: -2px;
    background-color: #fff;
    width: 14px;
    height: 2px;
}

.profile__link-back span::before {
    top: -5px;
    transform: rotate(45deg);
}

.profile__link-back span::after {
    top: 5px;
    transform: rotate(-45deg);
}